{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <!-- Toolbar with bottom tabs -->
    <div class="toolbar toolbar-bottom tabbar-labels">
        <div class="toolbar-inner">
            <a href="#tab-1" class="tab-link tab-link-active">
                <i class="icon f7-icons">doc_text</i>
                <span class="tabbar-label">立即投保</span>
            </a>
            <a href="#tab-2" class="tab-link">
                <i class="icon f7-icons">person</i>
                <span class="tabbar-label">我的</span>
            </a>
        </div>
    </div>

    <!-- Tabs content -->
    <div class="tabs">
        <div id="tab-1" class="tab tab-active">
            <!-- Content of first tab -->
            <div class="block">
                <h2>立即投保</h2>
                <!-- Add your insurance form content here -->
            </div>
        </div>
        <div id="tab-2" class="tab">
            <!-- Content of second tab -->
            <div class="block">
                <h2>我的</h2>
                <!-- Add your profile content here -->
            </div>
        </div>
    </div>
{% endblock %}
