<body>
<div class="example-wrapper">
  <form action="https://syb.allinpay.com/apiweb/h5unionpay/unionorder" method="POST">
    {% for k, v in data %}
    <input name="{{k}}" value="{{v}}" />
    {% endfor %}
    <input type="submit" \>
  </form>
</div>
</body>
