{% extends 'base.html.twig' %}

{% block title %}订单支付{% endblock %}

{% block body %}
  <div>支付确认</div>
  <div>订单号：{{ sn }}</div>
  <div>产品： 关爱保</div>
  <button>已完成支付</button>
  <button>立即支付</button>
{% endblock %} 
